<div id="wrapper">


    <div class="category-content inner-content">
        <div class="category-articles">
            {{#each this}} {{#if this.title}}
            <div class="item">
                <h2 class="item-title">
                    {{this.title}}
                </h2>
                <img src="{{this.imgURL}}" alt="" class="item-img">

                <div class="description more">{{this.text}}</div>
                <div class="price-container">
                    <button class="buy-now-btn">BUY NOW {{this.price}}$</button>
                </div>
            </div>
            {{else}}
            <ul id="paginate">
                {{#each this}}
                <li><a page="{{this}}">{{this}}</a></li>
                {{/each}}
            </ul>
            {{/if}}{{/each}}





        </div>

        <div class="side-bar products">
            <div class="section">
                <h3 class="titles-font">Price</h3>
                <select id="price">
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>
            </div>
            <div class="section">

                <h3 class="titles-font">Brand</h3>
                <form action="" id="brand-filter">
                    <input type="radio" name="brand" value="LG" id="lg"><label for="lg">LG</label><br>
                    <input type="radio" name="brand" value="SAMSUNG" id="samsung"><label for="samsung">Samsung</label><br>
                </form>
            </div>
            <div class="section">
                <h3 class="titles-font">Resolution</h3>
                <form action="" id="resolution-filter">
                    <input type="radio" name="resolution" value="4k" id="4k"><label for="4k">4K</label><br>
                    <input type="radio" name="resolution" value="fullhd" id="fullhd"><label for="fullhd">FullHD</label><br>
                </form>
            </div>
            <div class="section">
                <h3 class="titles-font">Size</h3>
                <form action="" id="size-filter">
                    <input type="radio" name="size" value="24" id="24inch"><label for="24inch">24 inches</label><br>
                    <input type="radio" name="size" value="32" id="32inch"><label for="32inch">32 inches</label><br>
                    <input type="radio" name="size" value="38" id="38inch"><label for="38inch">38 inches</label><br>
                    <input type="radio" name="size" value="42" id="42inch"><label for="42inch">42 inches</label><br>
                    <input type="radio" name="size" value="47" id="47inch"><label for="47inch">47 inches</label><br>
                    <input type="radio" name="size" value="55" id="55inch"><label for="55inch">55 inches</label><br>
                    <input type="radio" name="size" value="65" id="65inch"><label for="65inch">65 inches</label><br>
                </form>
            </div>
            <div class="section">
                <h3 class="titles-font">Extras</h3>
                <form action="" id="tag-filter">
                    <input type="radio" name="tag" value="smart" id="smart-tag"><label for="smart-tag">Smart</label><br>
                    <input type="radio" name="tag" value="2017" id="2017-tag"><label for="2017-tag">2017</label><br>
                    <input type="radio" name="tag" value="2016" id="2016-tag"><label for="2016-tag">2016</label><br>
                    <input type="radio" name="tag" value="2015" id="2015-tag"><label for="2015-tag">2015</label><br>
                    <input type="radio" name="tag" value="lcd" id="lcd-tag"><label for="lcd-tag">LCD</label><br>
                    <input type="radio" name="tag" value="led" id="led-tag"><label for="led-tag">LED</label><br>
                </form>
            </div>


        </div>
    </div>
</div>