<div id="wrapper">
    <div class="category-caption inner-caption">
        <div>
            <div>
                <h3 class="body-caption-font">Category Title Here</h3>
                <p class="titles-font">Category Description Goes Right Here</p>
            </div>
        </div>
    </div>

    <div class="category-content inner-content">
        <div class="category-articles">
            <div class="article">
                <h3 class="body-caption-font">Post Title Goes Right Here</h3>
                <div class="article-info large-font">
                    Posted by <span>Admin</span> on March 13, 2011 in <span>Some category</span> | 30 Comments
                </div>
                <div class="article-thumb">
                    <a href="#">
                        <img alt="Article № 1" src="./images/thumbs/thumb01.png">
                    </a>
                </div>
                <div class="article-content">
                    <p>
                        Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar. Nam est mi, accumsan sit amet vestibulum in, cursus vitae orci. Nunc varius adipiscing mi. Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

            <div class="article">
                <h3 class="body-caption-font">Post Title Goes Right Here</h3>
                <div class="article-info large-font">
                    Posted by <span>Admin</span> on March 13, 2011 in <span>Some category</span> | 30 Comments
                </div>
                <div class="article-thumb">
                    <a href="#">
                        <img alt="Article № 2" src="./images/thumbs/thumb02.png">
                    </a>
                </div>
                <div class="article-content">
                    <p>
                        Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar. Nam est mi, accumsan sit amet vestibulum in, cursus vitae orci. Nunc varius adipiscing mi. Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

            <div class="article">
                <h3 class="body-caption-font">Post Title Goes Right Here</h3>
                <div class="article-info large-font">
                    Posted by <span>Admin</span> on March 13, 2011 in <span>Some category</span> | 30 Comments
                </div>
                <div class="article-thumb">
                    <a href="#">
                        <img alt="Article № 3" src="./images/thumbs/thumb03.png">
                    </a>
                </div>
                <div class="article-content">
                    <p>
                        Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar. Nam est mi, accumsan sit amet vestibulum in, cursus vitae orci. Nunc varius adipiscing mi. Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </div>

        <div class="side-bar">
            <div class="section">
                <h3 class="titles-font">From The Blog</h3>
                <ul>
                    <li>
                        <a href="#">Curabitur blandit rutrum felis pretium</a>
                    </li>
                    <li>
                        <a href="#">Pharetra donec dictum felis eu quis</a>
                    </li>
                    <li>
                        <a href="#">Eros pretium vulputate dictum donec </a>
                    </li>
                    <li>
                        <a href="#">Etiam quis nulla ac turpis moles</a>
                    </li>
                    <li>
                        <a href="#">Suspendisse potenti integer donec 
                                    </a>
                    </li>
                    <li>
                        <a href="#">Accumsan nunc sollicitudin id pelle</a>
                    </li>
                </ul>
            </div>

            <div class="section">
                <h3 class="titles-font">Archives</h3>
                <ul>
                    <li>
                        <a href="#">Curabitur blandit rutrum felis pretium</a>
                    </li>
                    <li>
                        <a href="#">Pharetra donec dictum felis eu quis</a>
                    </li>
                    <li>
                        <a href="#">Eros pretium vulputate dictum donec </a>
                    </li>
                    <li>
                        <a href="#">Etiam quis nulla ac turpis moles</a>
                    </li>
                    <li>
                        <a href="#">Suspendisse potenti integer donec 
                                    </a>
                    </li>
                    <li>
                        <a href="#">Accumsan nunc sollicitudin id pelle</a>
                    </li>
                </ul>
            </div>

            <div class="section">
                <h3 class="titles-font">Recent Posts</h3>
                <ul>
                    <li>
                        <a href="#">Curabitur blandit rutrum felis pretium</a>
                    </li>
                    <li>
                        <a href="#">Pharetra donec dictum felis eu quis</a>
                    </li>
                    <li>
                        <a href="#">Eros pretium vulputate dictum donec </a>
                    </li>
                    <li>
                        <a href="#">Etiam quis nulla ac turpis moles</a>
                    </li>
                    <li>
                        <a href="#">Suspendisse potenti integer donec 
                                    </a>
                    </li>
                    <li>
                        <a href="#">Accumsan nunc sollicitudin id pelle</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>