<div id="wrapper">
    <div class="home-header">
        <ul class="home-menu">
            <li>
                <a class="medium-font" href="#/home">Home</a>
            </li>
            <li>
                <a class="medium-font" href="#/articles">Articles</a>
            </li>
            <li><a class="medium-font" href="#">Contact</a></li>
            <li><a class="medium-font" href="#/post">Page Template</a></li>
            <li><a class="medium-font" href="#">Shortcodes</a></li>
            <li><a class="medium-font" href="#">Blog</a></li>

            <li><a class="medium-font" href="#">Page Template</a></li>
            <li><a class="medium-font" href="#">Shortcodes</a></li>
            <li><a class="medium-font" href="#">Blog</a></li>
        </ul>
    </div>

    <div class="slider-container">
        <div class="slider">
            <ul class="slides">
                <li class="slide slide-active">
                    <img alt="Slide 1 Caption" src="./images/slides/slide01.png">
                    <div>
                        <h2 class="body-caption-font">
                            <a href="#">Telerik - Software Academy</a>
                        </h2>
                        <p>
                            Lorem Ipsum is unattractive, both inside and out. I fully understand why it’s former users left it for something else. They made a good decision. Lorem Ipsum better hope that there are no "tapes" of our conversations before he starts leaking to the press!
                            Does everybody know that pig named Lorem Ipsum...
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </li>
                <li class="slide">
                    <img alt="Slide 2 Caption" src="./images/slides/slide02.png">
                    <div>
                        <h2 class="body-caption-font">
                            <a href="#">Forest</a>
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit reiciendis error id iste mollitia ipsam aut numquam! Sed atque quia dicta asperiores molestias. Delectus earum odit exercitationem vitae recusandae expedita. Magnam laboriosam voluptates
                            perferendis, ipsum deserunt...
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </li>
                <li class="slide">
                    <img alt="Slide 3 Caption" src="./images/slides/slide03.png">
                    <div>
                        <h2 class="body-caption-font">
                            <a href="#">Harvest</a>
                        </h2>
                        <p>Lorem Ipsum is unattractive, both inside and out. I fully understand why it’s former users left it for something else. They made a good decision. Lorem Ipsum better hope that there are no "tapes" of our conversations before he
                            starts leaking to the press! Does everybody know that pig named Lorem Ipsum...</p>
                        <a href="#">Read More</a>
                    </div>
                </li>
                <li class="slide">
                    <img alt="Slide 4 Caption" src="./images/slides/slide04.png">
                    <div>
                        <h2 class="body-caption-font">
                            <a href="#">Sofia - Druzhbai</a>
                        </h2>
                        <p>Rerum explicabo omnis dolore fugiat quidem delectus recusandae eveniet autem nesciunt voluptate asperiores nam atque quis, consequatur in vero temporibus officiis. Maiores aut cupiditate quod. Quasi odio aliquam iure facilis? Quia,
                            doloremque porro. Ipsum atque quos expedita saepe maiores quasi laudantium...
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </li>
            </ul>
            <ol class="slides-nav">
                <li class="slides-nav-active">0</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ol>
            <ul class="slides-nav-arrows">
                <li class="slide-btn slide-prev-btn"></li>
                <li class="slide-btn slide-next-btn"></li>
            </ul>
        </div>
        <div class="slides-top-shadow"></div>
        <div class="slides-bottom-shadow"></div>
    </div>

    <div class="controllers"></div>

    <div class="home-caption inner-caption">
        <div>
            <h3 class="body-caption-font">"Chameleon is an extremely versatile theme with a myriad of options and styles"</h3>
            <p class="titles-font">Aliquam venenatis enim in mi iaculis in tempor lectus tempor et convallis erat pellentesque</p>
        </div>
    </div>

    <div class="home-content inner-content">
        <div class="articles">
            <div class="article">
                <h3 class="titles-font">Some information here</h3>
                <div>
                    <a href="#">
                        <img alt="Article № 1" src="./images/thumbs/thumb01.png">
                        <span></span>
                    </a>
                </div>
                <p>Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar. Nam est mi, accumsan sit amet vestibulum in, cursus vitae orci. Nunc varius adipiscing mi.
                </p>
            </div>

            <div class="article">
                <h3 class="titles-font">Some information here</h3>
                <div>
                    <a href="#">
                        <img alt="Article № 2" src="./images/thumbs/thumb02.png">
                        <span></span>
                    </a>
                </div>
                <p>Nam commodo dignissim felis vitae ullamcorper. Sed volutpat velit id purus bibendum placerat. Sed porta, nulla ac interdum ullamcorper, mi orci porta eros, nec commodo ligula dolor et arcu.</p>
            </div>

            <div class="article">
                <h3 class="titles-font">Some information here</h3>
                <div>
                    <a href="#">
                        <img alt="Article № 3" src="./images/thumbs/thumb03.png">
                        <span></span>
                    </a>
                </div>
                <p>Integer egestas ultricies urna vitae molestie. Donec nec facilisis nisi. Vivamus tempor feugiat velit gravida vehicula. Donec faucibus pellentesque ipsum id varius. Ut rutrum metus sed neque ultricies a dictum.</p>
            </div>
        </div>

        <div class="blog-posts">
            <h3 class="titles-font">From The Blog</h3>
            <ul>
                <li>
                    <a href="#">Integer egestas</a>
                </li>
                <li>
                    <a href="#">Donec nec facilisis</a>
                </li>
                <li>
                    <a href="#">Donec faucibus</a>
                </li>
                <li>
                    <a href="#">Ut rutrum metus</a>
                </li>
            </ul>
        </div>

        <div class="mm-bar">
            <h3 class="titles-font">Multi Media Bar</h3>
            <div class="mm-control">
                <a href="#" class="mm-left-arrow"></a>
                <a href="#" class="mm-right-arrow"></a>
                <div id="mm-slides">
                    <div class="mm-slide mm-slide-active">

                        <div class="mm-thumb">
                            <a href="./images/mm-thumbs/1.jpg" rel="media" title="Make A Wish">
                                <img alt="Integer egestas" class="mm-image" src="./images/mm-thumbs/1-thumb.png">
                                <span class="mm-icon"></span>
                            </a>
                            <div class="normal-font">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis porta nibh, a...</p>
                                <span class="mm-hint-arrow"></span>
                            </div>
                        </div>

                        <div class="mm-thumb">
                            <a class="video-thumb" href="./images/mm-thumbs/2.jpg" rel="media" title="The Morning Dew">
                                <img alt="The Morning Dew" class="mm-image" src="./images/mm-thumbs/2-thumb.jpg">
                                <span class="mm-icon"></span>
                            </a>
                            <div class="normal-font">
                                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;...</p>
                                <span class="mm-hint-arrow"></span>
                            </div>
                        </div>

                        <div class="mm-thumb">
                            <a href="./images/mm-thumbs/5.jpg" title="Purple Haze">
                                <img alt="Purple Haze" class="mm-image" src="./images/mm-thumbs/5-thumb.png">
                                <span class="mm-icon"></span>
                            </a>
                            <div class="normal-font">
                                <p>Nullam at massa orci. Nulla suscipit adipiscing tincidunt. Donec purus arcu, posuere et...</p>
                                <span class="mm-hint-arrow"></span>
                            </div>
                        </div>

                        <div class="mm-thumb">
                            <a class="video-thumb" href="./images/mm-thumbs/6.jpg" rel="media" title="Bridge To Nowhere">
                                <img alt="Bridge To Nowhere" class="mm-image" src="./images/mm-thumbs/6-thumb.png">
                                <span class="mm-icon"></span>
                            </a>
                            <div class="normal-font">
                                <p>Donec sed metus ipsum, laoreet suscipit purus. Fusce ante lorem, luctus et tincidunt...</p>
                                <span class="mm-hint-arrow"></span>
                            </div>
                        </div>

                        <div class="mm-thumb">
                            <a href="./images/mm-thumbs/1.jpg" rel="media" title="The Lonely Ladybug">
                                <img alt="The Lonely Ladybug" class="mm-image" src="./images/mm-thumbs/1-thumb.png">
                                <span class="mm-icon"></span>
                            </a>
                            <div class="normal-font">
                                <p>Nullam at massa orci. Nulla suscipit adipiscing tincidunt. Donec purus arcu, posuere et...</p>
                                <span class="mm-hint-arrow"></span>
                            </div>
                        </div>

                        <div class="mm-thumb">
                            <a class="video-thumb" href="./images/mm-thumbs/2.jpg" title="Monkeys Take a Bath">
                                <img alt="Monkeys Take a Bath" class="mm-image" src="./images/mm-thumbs/2-thumb.jpg">
                                <span class="mm-icon"></span>
                            </a>
                            <div class="normal-font">
                                <p>Vivamus sit amet quam lacus, et suscipit massa. Morbi eget ligula vitae massa...</p>
                                <span class="mm-hint-arrow"></span>
                            </div>
                        </div>

                        <div class="mm-thumb">
                            <a href="./images/mm-thumbs/5.jpg" rel="media" title="Birds of Beauty">
                                <img alt="Birds of Beauty" class="mm-image" src="./images/mm-thumbs/5-thumb.png">
                                <span class="mm-icon"></span>
                            </a>
                            <div class="normal-font">
                                <p>Sed sed tellus ac turpis mollis euismod. Ut eget justo non felis sollicitudin suscipit....</p>
                                <span class="mm-hint-arrow"></span>
                            </div>
                        </div>
                    </div>

                    <div class="mm-slide">
                        <div class="mm-thumb">
                            <a class="video-thumb" href="./images/mm-thumbs/6.png" rel="media" title="Summer Wheat">
                                <img alt="Summer Wheat" class="mm-image" src="./images/mm-thumbs/6-thumb.png">
                                <span class="mm-icon"></span>
                            </a>
                            <div class="normal-font">
                                <p>Donec sed metus ipsum, laoreet suscipit purus. Fusce ante lorem, luctus et tincidunt...</p>
                                <span class="mm-hint-arrow"></span>
                            </div>
                        </div>

                        <div class="mm-thumb">
                            <a href="./images/mm-thumbs/1.jpg" title="Calm Before The Storm">
                                <img alt="Calm Before The Storm" class="multi-media-image" src="./images/mm-thumbs/1-thumb.png">
                                <span class="mm-icon"></span>
                            </a>
                            <div class="normal-font">
                                <p>Donec auctor ullamcorper nunc, vitae pellentesque mi fringilla posuere. Maecenas semper...</p>
                                <span class="mm-hint-arrow"></span>
                            </div>
                        </div>

                        <div class="mm-thumb">
                            <a class="video-thumb" href="./images/mm-thumbs/2.jpg" rel="media" title="Bamboo Shoots">
                                <img alt="Bamboo Shoots" class="mm-image" src="./images/mm-thumbs/2-thumb.jpg">
                                <span class="mm-icon"></span>
                            </a>
                            <div class="normal-font">
                                <p>Etiam cursus, nibh in suscipit tincidunt, ante enim scelerisque lacus, sed consectetur...</p>
                                <span class="mm-hint-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>