<div id="wrapper">
    <div class="category-caption inner-caption">
        <div>
            <div>
                <h3 class="body-caption-font">Post Title Goes Right Here</h3>
                <p class="titles-font">Posted by <a href="#/">Admin</a> on March 13, 2010 in Some Category</p>
            </div>
        </div>
    </div>

    <div class="category-content inner-content">
        <div class="category-articles">
            <div class="article">
                <h3 class="body-caption-font">Post Title Goes Right Here</h3>
                <div class="article-info large-font">
                    Posted by <span>Admin</span> on March 13, 2011 in <span>Some category</span> | 30 Comments
                </div>
                <div class="article-thumb">
                    <a href="#">
                        <img alt="Article № 3" src="./images/thumbs/thumb03.png">
                    </a>
                </div>
                <div class="article-content">
                    <p>
                        Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium vulputate. Etiam quis nulla ac turpis molestie tempus et in purus. Suspendisse potenti. Integer accumsan accumsan est, ac accumsan nunc sollicitudin id. Pellentesque tortor lectus,
                        faucibus vitae fermentum vitae, laoreet sit amet erat. Cras luctus, turpis a suscipit venenatis, lorem lectus bibendum neque, quis congue dui tellus in lorem. Praesent rhoncus euismod elementum. Pellentesque tempor, metus quis
                        dignissim imperdiet, risus mi volutpat massa, ut consequat
                    </p>
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="side-bar">
            <div class="section">
                <h3 class="titles-font">From The Blog</h3>
                <ul>
                    <li>
                        <a href="#">Curabitur blandit rutrum felis pretium</a>
                    </li>
                    <li>
                        <a href="#">Pharetra donec dictum felis eu quis</a>
                    </li>
                    <li>
                        <a href="#">Eros pretium vulputate dictum donec </a>
                    </li>
                    <li>
                        <a href="#">Etiam quis nulla ac turpis moles</a>
                    </li>
                    <li>
                        <a href="#">Suspendisse potenti integer donec 
                                    </a>
                    </li>
                    <li>
                        <a href="#">Accumsan nunc sollicitudin id pelle</a>
                    </li>
                </ul>
            </div>

            <div class="section">
                <h3 class="titles-font">Archives</h3>
                <ul>
                    <li>
                        <a href="#">Curabitur blandit rutrum felis pretium</a>
                    </li>
                    <li>
                        <a href="#">Pharetra donec dictum felis eu quis</a>
                    </li>
                    <li>
                        <a href="#">Eros pretium vulputate dictum donec </a>
                    </li>
                    <li>
                        <a href="#">Etiam quis nulla ac turpis moles</a>
                    </li>
                    <li>
                        <a href="#">Suspendisse potenti integer donec 
                                    </a>
                    </li>
                    <li>
                        <a href="#">Accumsan nunc sollicitudin id pelle</a>
                    </li>
                </ul>
            </div>

            <div class="section">
                <h3 class="titles-font">Recent Posts</h3>
                <ul>
                    <li>
                        <a href="#">Curabitur blandit rutrum felis pretium</a>
                    </li>
                    <li>
                        <a href="#">Pharetra donec dictum felis eu quis</a>
                    </li>
                    <li>
                        <a href="#">Eros pretium vulputate dictum donec </a>
                    </li>
                    <li>
                        <a href="#">Etiam quis nulla ac turpis moles</a>
                    </li>
                    <li>
                        <a href="#">Suspendisse potenti integer donec 
                                    </a>
                    </li>
                    <li>
                        <a href="#">Accumsan nunc sollicitudin id pelle</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>