body {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    font-size: 12px;
    font-family: 'Droid Sans', Arial, sans-serif;
    color: #929292;
    background: #f4f4f4 url(../images/texture.png);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -1px;
    line-height: 1em;
    padding-bottom: 5px;
    text-shadow: none;
    color: #808080;
    margin: 0 0 0 0;
}

a {
    text-decoration: none;
    color: #00b7f3;
}

p {
    padding-bottom: 10px;
    line-height: 24px;
    margin-top: 0;
    padding-top: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

ol,
ul {
    display: block;
    list-style: none;
    padding: 0;
}

.small-font {
    font-size: 10px;
}

.medium-font {
    font-size: 12px;
}

.large-font {
    font-size: 15px;
}

.body-caption-font {
    font-size: 28px;
}

.titles-font {
    font-size: 20px;
}

.main {
    left: -39px;
    top: 96px;
    width: 50px;
    z-index: 100;
    color: #9f9f9f;
}

.main>a {
    background: url(../images/trigger-bg.png) no-repeat;
    position: absolute;
    top: -10px;
    right: -7px;
    width: 20px;
    height: 20px;
    display: block;
    z-index: 10;
}

.main>a>div {
    background: url(../images/trigger-open-sign.png) no-repeat;
    display: block;
    width: 9px;
    height: 11px;
    margin-left: 6px;
    margin-top: 5px;
}

.contents {
    text-align: left;
    margin: auto;
    max-width: 960;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08), 0 0 25px rgba(0, 0, 0, 0.08) inset;
    background: #fff url(../images/header-shadow.png) repeat-x top;
}

.header {
    position: relative;
    padding: 30px 35px 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 0 0 20px 3px;
}

.header>p {
    position: absolute;
    top: 57px;
    left: 89px;
    font-size: 12.5px;
    color: #437d8b;
    text-transform: uppercase;
    font-family: 'Kreon Regular', Arial, sans-serif;
}

.small-menu,
.small-menu-items {
    display: none;
}

.small-menu {
    position: absolute;
    right: 20px;
    top: 16px;
    width: 70px;
    height: 70px;
    border: solid 1px #a3a3a3;
    box-sizing: border-box;
    background-image: url(../images/threelines.png);
    background-size: 35px 35px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: 17px;
    box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.35) inset;
    cursor: pointer;
}

.home-header {
    border-bottom: none;
    width: 100%;
    box-sizing: content-box;
    height: 51px;
    background-image: url(../images/page-header-bg.png);
}

.divider {
    height: 1px;
    background: linear-gradient(to right, rgba(232, 232, 232, 1) 0%, rgba(203, 203, 203, 1) 50%, rgba(232, 232, 232, 1) 100%);
    box-shadow: 0 1px 4px #e0e0e0;
}

.menu,
.home-menu {
    display: inline-flex;
}

.menu {
    position: relative;
    top: 27px;
}

.home-menu {
    margin: 16px 0 0 25px;
}

.menu li,
.home-menu li {
    padding: 0 9px;
}

.menu>li>a,
.home-menu>li>a {
    font-family: 'Kreon Light', Arial, sans-serif;
    color: #393939;
    font-weight: lighter;
    text-shadow: 1px 1px #fff;
}

.home-menu>li>a {
    font-family: 'Kreon Regular', Arial, sans-serif;
    text-transform: uppercase;
}

.menu>li>a:hover,
.home-menu>li>a:hover {
    color: #437d8b;
}

.top-panel {
    position: absolute;
    top: 1px;
    right: 1px;
}

.social-icons {
    position: absolute;
    top: 7px;
    left: -55px;
}

.search {
    background: url(../images/search-bg-top-right.png) no-repeat;
    background-position: right;
    box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.35) inset;
    width: 162px;
}

.search form {
    background: url(../images/search-bg-bottom-left.png) no-repeat;
    background-position: bottom;
    height: 29px;
}

.search-input {
    background: none;
    border: none;
    box-sizing: border-box;
    margin: 7px 7px 0 5px;
    width: 114px;
    padding-left: 9px;
    font-size: 11px;
    font-family: Georgia, serif;
    color: #a3a3a3;
    text-shadow: 1px 1px #fff;
    font-style: italic;
    position: relative;
    top: -3px;
}

.search-btn {
    margin: 8px 0 0 11px;
}

.slider-container {
    width: 100%;
    margin-top: -12px;
    position: relative;
    background-color: #d7d7d7;
}

.slider {
    margin-bottom: 12px;
}

.slides {
    display: flex;
    padding: 0;
}

.slide {
    width: 100%;
    margin-right: -100%;
    opacity: 0;
    display: block;
}

.slide:first-of-type {
    opacity: 1;
}

.slide>img {
    display: block;
    height: auto;
    width: auto;
    max-width: 100%;
}

.slides-top-shadow,
.slides-bottom-shadow {
    position: absolute;
    width: 100%;
    height: 4px;
}

.slides-top-shadow {
    background: url(../images/slides-top-shadow.png) repeat-x;
    top: 0;
}

.slides-bottom-shadow {
    background: url(../images/slides-bottom-shadow.png) repeat-x;
    bottom: 0;
}

.slide div {
    position: absolute;
    box-sizing: content-box;
    width: 340px;
    height: 160px;
    top: 50px;
    right: 53px;
    background: url(../images/slide-description.png);
    padding: 40px 33px 25px 40px;
}

.slide p {
    color: #bebdbd;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    line-height: 21px;
}

.slide .body-caption-font {
    font-family: 'Kreon Light', Arial, sans-serif;
    font-weight: lighter;
}

.slide .body-caption-font a {
    text-decoration: none;
    color: #ffffff
}

.slide div>a {
    background: url(../images/more-btn.png);
    padding: 0 13px;
    color: #7b9297;
    font-size: 13px;
    font-family: 'Kreon Light', Arial, sans-serif;
    line-height: 27px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.slides-nav {
    width: 100%;
    position: absolute;
    bottom: -33px;
    text-align: center;
}

.slides-nav li {
    color: transparent;
    width: 11px;
    display: inline-block;
    cursor: pointer;
    background: url(../images/slide-unactive.png) no-repeat 0 0;
}

.slides-nav>.slides-nav-active {
    background: url(../images/slide-active.png) no-repeat 0 0;
}

.slides-nav-arrows li {
    z-index: 10;
}

.slide-prev-btn {
    left: -6px;
    background: url(../images/arrow-left.png) no-repeat 0 0;
}

.slide-next-btn {
    right: -6px;
    background: url(../images/arrow-right.png) no-repeat 0 0;
}

.slide-btn {
    width: 40px;
    height: 44px;
    margin-top: -13px;
    position: absolute;
    top: 165px;
    cursor: pointer;
    ;
}

.controllers {
    padding-top: 12px;
    padding-bottom: 14px;
}

.inner-caption {
    text-align: center;
    padding: 38px 48px 0 48px;
}

.inner-caption>div {
    background: url(../images/home-caption-bottom-bg.png) no-repeat bottom left;
    padding-bottom: 28px;
}

.inner-caption>div>div {
    background: url(../images/home-caption-top-bg.png) no-repeat top left;
    padding-top: 28px;
}

.inner-caption .body-caption-font {
    color: #3b3b3b;
    font-family: 'Kreon Light', Arial, sans-serif;
    font-weight: lighter;
}

.inner-caption p {
    font-family: 'Kreon Light', Arial, sans-serif;
    font-weight: lighter;
}

.inner-caption a {
    color: #929292;
}

.inner-content {
    padding: 45px 48px 60px;
    display: flex;
    flex-flow: row wrap;
}

.category-content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.articles {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.category-articles {
    width: 83%;
    margin-bottom: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    flex-flow: column wrap;
    justify-content: space-between;
    border-right: 1px solid #f0f0f0
}

.article {
    width: 28%;
}

.category-articles .article {
    width: 100%;
    margin-top: 70px;
}

.item {
    width: 42%;
    margin: 25px;
    display: inline-block;
    text-align: center;
}

.item img {
    width: 80%;
    text-align: center;
}

.description {
    text-align: left;
}

.morecontent span {
    display: none;
}

.buy-now-btn {
    margin-top: 15px;
}

.category-articles .article:first-of-type {
    margin-top: 0;
}

.article .titles-font,
.article .body-caption-font {
    margin: 0 0 4px 5px;
    color: #1d1d1d;
    font-family: 'Kreon Light', Arial, sans-serif;
    font-weight: lighter;
}

.article .body-caption-font {
    padding-bottom: 15px;
    margin-left: 0;
}

.article-info {
    font-family: 'Kreon Light', Arial, sans-serif;
    font-weight: lighter;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-top: solid 1px #f0f0f0;
    border-bottom: solid 1px #f0f0f0;
    color: #d0d0d0;
}

.article-info span {
    color: #929292;
    font-weight: normal;
}

.article-thumb {
    border: 1px solid #f0f0f0;
    position: relative;
    padding: 3px;
    margin-bottom: 10px;
}

.article-thumb {
    float: left;
    margin-right: 20px;
}

.article-thumb img {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.08);
}

.category-articles .article-thumb {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 7px;
}

.category-articles .article-thumb img {
    width: 186px;
    height: 186px;
}

.article-content a {
    border: solid 1px #eaeaea;
    border-radius: 5px;
    color: #1d1d1d;
    font-family: 'Kreon Light', Arial, sans-serif;
    font-weight: bold;
    line-height: 27px;
    text-align: right;
    margin-left: 5px;
    padding: 5px;
}

.articles .article span {
    opacity: 0;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    background: url(../images/thumb-icon.png) no-repeat;
    position: absolute;
    height: 41px;
    width: 40px;
}

.article-content p {
    margin-left: 5px;
    font-size: 12px;
}

.read-more {
    text-align: right;
}

.category-articles ul {
    display: inline-flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.category-articles ul li {
    text-align: right;
}

.category-articles ul li a {
    display: block;
    width: 26px;
    box-sizing: border-box;
    border: solid 1px #eaeaea;
    border-radius: 5px;
    color: #1d1d1d;
    font-family: 'Kreon Light', Arial, sans-serif;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    margin-left: 5px;
}

.category-articles ul li a:hover {
    background-color: #f6f6f6;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 28%;
    box-sizing: border-box;
}

.side-bar .section {
    margin: 30px 0 0 0;
}

.side-bar .section:first-of-type {
    margin: 0;
}

.products {
    display: flex;
    flex-direction: column;
    width: 12%;
    box-sizing: border-box;
}

.blog-posts,
section {
    margin-left: 5px;
    width: 223px;
    margin-right: 85px;
    text-shadow: 1px 1px 1px #fff;
}

.blog-posts .titles-font,
.section .titles-font {
    margin-bottom: 2px;
    color: #1d1d1d;
    font-family: 'Kreon Light', Arial, sans-serif;
    font-weight: lighter;
    text-shadow: 1px 1px 1px #fff;
}

.blog-posts ul li,
.section ul li {
    padding: 4px 16px;
    background: url(../images/sidebar-bullet.png) no-repeat 0 12px;
}

.blog-posts a,
.section a {
    color: #929292;
}

.mm-bar {
    width: 63.5%;
}

.mm-bar .titles-font {
    margin-bottom: 10px;
    color: #1d1d1d;
    font-family: 'Kreon Light', Arial, sans-serif;
    font-weight: lighter;
}

.mm-control {
    position: relative;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 14px 15px 14px 22px;
}

.mm-left-arrow,
.mm-right-arrow {
    position: absolute;
    top: 30px;
    width: 27px;
    height: 27px;
}

.mm-left-arrow {
    background: url(../images/left-multi-media-arrow.png) no-repeat;
    left: -13px;
}

.mm-right-arrow {
    background: url(../images/right-multi-media-arrow.png) no-repeat;
    right: -13px;
}

.mm-slide {
    display: none;
    opacity: 0;
}

.mm-slide-active {
    display: flex;
    opacity: 1;
}

.mm-thumb {
    margin-right: 16px;
    position: relative;
    padding: 4px;
    border: 1px solid #f0f0f0;
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.08);
}

.mm-thumb:last-of-type {
    margin-right: 0;
}

.mm-icon {
    opacity: 0;
    background: url(../images/img-more.png) no-repeat;
    position: absolute;
    width: 33px;
    height: 33px;
    left: 12px;
    top: 12px;
}

.video-thumb .mm-icon {
    background: url(../images/video-more.png) no-repeat;
}

.mm-thumb div {
    opacity: 0;
    bottom: 63px;
    position: absolute;
    left: -58px;
    width: 173px;
    height: 111px;
    box-sizing: border-box;
    padding: 8px 15px 8px;
    z-index: 30;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: Georgia, serif;
    color: #929292;
    font-style: italic;
}

.mm-hint-arrow {
    display: block;
    position: absolute;
    width: 14px;
    height: 8px;
    bottom: -8px;
    left: 80px;
    background: url(../images/mm-arrow.png) no-repeat;
}

.footer {
    background-color: #f9f9f9;
    box-shadow: 0 -1px 0 #ececec;
    border: 1px solid #fff;
}

.f-cols {
    padding: 33px 48px 45px;
    display: flex;
    justify-content: space-between;
}

.f-cols ul li {
    background: url(../images/footer-bullet.png) no-repeat 0 7px;
    padding: 0 0 7px 16px;
}

.f-cols a {
    color: #929292;
}

.f-cols a:hover {
    color: #d0d0d0;
}

.f-col {
    width: 23%;
    text-shadow: 1px 1px 1px #fff;
}

.cr-sign {
    font-family: 'Kreon Regular', Arial, sans-serif;
    font-weight: bold;
}

.col-title {
    font-family: 'Kreon Light', Arial, sans-serif;
    font-weight: lighter;
    color: #1d1d1d;
    text-shadow: 1px 1px 1px #fff;
    padding-bottom: 11px;
}

.cr-text {
    display: flex;
    justify-content: flex-end;
    color: #cdcdcd;
    text-shadow: 1px 1px 1px #fff;
    padding-bottom: 20px;
    padding-right: 48px;
}

.cr-text a {
    color: #929292;
}

.cr-text a:hover {
    text-decoration: underline;
}

@media (min-width: 1800px) {
    * {
        font-size: 104%;
    }
    .menu {
        margin: 0;
    }
    .item {
        width: 28%;
    }
}

@media (min-width: 1080px) {
    .body {
        font-size: 29px;
    }
    .contents {
        max-width: 80%;
    }
}

@media (max-width: 990px) {
    .contents {
        max-width: 768;
    }
    .slide div {
        top: 20px;
    }
    .slide-btn {
        top: 130px;
    }
    .home-content {
        justify-content: center;
    }
    .blog-posts {
        display: none;
    }
    .mm-bar {
        width: auto;
    }
    .inner-caption p {
        margin: 15px 0 0 0;
        padding: 0;
    }
    .item {
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
        display: inline-block;
        text-align: center;
    }
}

@media (max-width: 796px) {
    .item {
        padding-bottom: 25px;
    }
    .contents {
        max-width: 480px;
    }
    .top-panel {
        display: none;
    }
    .menu {
        display: none;
    }
    .header {
        justify-content: center;
    }
    .header p {
        left: 195px;
    }
    .small-menu {
        display: block;
    }
    .small-menu-items {
        display: none;
        z-index: 20;
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.85);
        position: absolute;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        width: 440px;
        top: 86px;
        right: 20px;
    }
    .small-menu-items li {
        text-align: center;
        text-transform: uppercase;
        padding: 30px;
        cursor: pointer;
    }
    .small-menu-items li a {
        color: #929292;
    }
    .small-menu-items li:hover {
        color: #437d8b;
        background-color: #e7e7e7;
    }
    .slide div {
        display: none;
    }
    .slide-btn {
        top: 75px;
    }
    .home-content {
        padding-bottom: 0;
    }
    .articles {
        flex-direction: column;
        justify-content: center;
    }
    .article {
        width: 100%;
        margin-bottom: 15px;
    }
    .article:last-of-type {
        width: 100%;
        margin-bottom: 0;
    }
    .article .titles-font,
    .article .body-caption-font,
    .article div {
        text-align: center;
    }
    .article img {
        width: 100%;
    }
    .blog-posts {
        display: none;
    }
    .mm-bar {
        display: none;
    }
    .f-cols {
        display: none;
    }
    .side-bar {
        display: none;
    }
    .category-articles {
        width: 100%;
        padding-right: 0;
        border: none;
    }
    .article div p {
        text-align: left;
    }
    .article div div {
        text-align: right;
    }
    .article .article-info {
        text-align: left;
    }
    .home-header {
        display: none;
    }
    .inner-caption p {
        margin: 15px 0 0 0;
        padding: 0;
    }
    .article>p {
        font-size: 16px;
    }
    .article>h3 {
        font-size: 28px;
    }
}

@media (max-width: 509px) {
    .contents {
        width: 320px;
    }
    .header {
        justify-content: flex-start;
        padding: 20px 0 0 15px;
    }
    .header p {
        left: 68px;
        top: 47px;
    }
    .small-menu {
        width: 50px;
        height: 50px;
        top: 20px;
        background-size: 24px 24px;
        background-position: 12px;
    }
    .small-menu-items {
        top: 70px;
        right: 19px;
        width: 283px;
    }
    .home-header,
    .slider-container,
    .controllers {
        display: none;
    }
    .home-caption {
        padding: 28px 28px;
        padding-top: 28px;
    }
    .home-caption div {
        padding-bottom: 18px;
    }
    .home-content {
        padding: 28px 28px;
    }
    .cr-text {
        padding: 28px;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .article>p {
        font-size: 16px;
    }
    .article>h3 {
        font-size: 24px;
    }
    .inner-caption p {
        margin: 15px 0 0 0;
        padding: 0;
    }
}